html, body{
}
.gradient-text {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    #A1E1F1,
    #ECB500
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.blank-title{
  font-family: SourceHanSansCN-Heavy;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}

.style-linked{
  text-decoration: none;
  font-family: SourceHanSansCN-Normal;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1.73px;
  line-height: 28px;
}

.page-title {
  font-family: SourceHanSansCN-Heavy;
  font-size: 24px;
  color: #3e3e3e;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 40px 0 30px 0;
}

.page-desc {
  font-family: SourceHanSansCN-Normal;
  font-size: 18px;
  color: #6a6a6a;
  letter-spacing: 1.5px;
  line-height: 38px;
}

.grid-container{
  display: grid;
  column-gap: 29px;
  row-gap: 24px;
}

.main-btn{
  background-image: linear-gradient(90deg, #FAD961 7%, #F76B1C 100%);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  padding: 12px 32px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.33px;
}

.page-title2{
  font-family: ChalkboardSE-Bold;
  font-size: 24px;
  color: #6a6a6a;
  letter-spacing: 2px;
}

.page-subtitle{
  font-family: SourceHanSansCN-Normal;
  font-size: 26px;
  color: #A1A1A1;
  letter-spacing: 0.54px;
}

.blank-radius-btn{
  border: 1px solid #C5C5C5;
  border-radius: 8px;
  padding: 0.8rem 2.5rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-family: SourceHanSansCN-Heavy;
  font-size: 16px;
  color: #A1A1A1;
  letter-spacing: 0.33px;
}

.gradient-radius-btn{
  background-image: linear-gradient(225deg, #A1E1F1 0%, #ECB500 100%);
  padding: 0.8rem 2.5rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-family: SourceHanSansCN-Heavy;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.33px;
  border: none;
}
